extends ../templates/_default
block vars
  -
    var title = 'topのtitle';
    var page = { classes: 'top' };
    var desc = 'topのdesc'

block header
  header.header

block content
  main#main.p-main.page-list.page-detail
    .p-head
      h1.p-head__hdg #コロナ疲れで都会から一時的に地方へ帰って働きたい人向けサイト

    .p-body
      .m-title 福島件版　コロナ求人情報

      .p-map
        iframe(src="https://www.google.com/maps/d/u/0/embed?mid=1Q8xTedo98uifglhpzSjlgr0CFQdmYZIt" width="640" height="480")


      .p-recruit-table
        .hdg 福島県　1企業

        ul.details
          li.detail-item
            h3.item-hdg 白鳥食堂
            dl.item-head
              dt 住所
              dd 〒962-0622 福島県岩瀬郡天栄村 村田良尾居平８０
            .item-body
              .item-detail
                dt 業種
                dd 飲食店
              .item-detail
                dt 雇用体系
                dd 正社員
              .item-detail
                dt 業務内容
                dd ホール・調理
              .item-detail
                dt メッセージ
                dd ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
              .item-detail
                dt お問い合わせ
                dd: a(href="mailto:aaa@aaa.com") メールで問い合わせる


  footer#footer.p-footer
    p.copy &copy;コロナ疲れで都会から一時的に地方へ帰って働きたい人向けサイト

  script(async src="/assets/js/index.js")
