include ../_includes

block vars
  -
    var title = 'defaultのtitle';
    var page = { classes: 'def', 'fp-responsive' };
    var desc = 'defのdesc'

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(description=desc)
    title #{title}
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css')
    link(rel="stylesheet" href="/assets/css/app.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")



body(class=page.classes)
  block header
  block content
  block footer

  include partials/_foot
