include ../_includes

block vars
  -
    var title = 'defaultのtitle';
    var page = { classes: 'def', 'fp-responsive' };
    var desc = 'defのdesc'

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(description=desc)
    title #{title}
    link(rel="stylesheet" href="/assets/css/pages/index.css")


body(class=page.classes)
  block header
  block content

  include partials/_foot
