extends ../templates/_default
block vars
  -
    var title = 'aboutのtitle';
    var page = { classes: 'about' };
    var desc = 'aboutのdesc'
block content
  h1.title about

  p.description
    strong A simple Gulp 4 Starter Kit for modern web development.