extends templates/_default
block vars
  -
    var title = 'topのtitle';
    var page = { classes: 'top' };
    var desc = 'topのdesc'

block header
  header.header

block content

  script(async src="/assets/js/index.js")
