@import '_includes'

// body
body
	background: #ECF3FA

/*
 * p-head
 */

@media screen and (min-width:768px)
	.p-head
		max-width: 1024px
		width: 100%
		margin-left: auto
		margin-right: auto
		padding: 20px 0



// footer
.p-footer
	padding: 20px 20px
	background: #eee
	text-align: center

	p
		margin-bottom: 0